@media (max-width: 1100px) {
  .box-title p {
    font-size: 14px;
  }
  .name-user {
    font-size: 14px;
  }
  .header-logo {
    margin-left: 10px;
  }
  .private .header-logo {
    margin-left: 10px;
}
  .mobile-element {
    display: block;
  }
  .user-active ul li.hide-mobile {
    display: none;
  }
  .sidebar-1,
  .sidebar-2,
  .sidebar-3 {
    display: none;
  }
  .UsersList form {
    max-height: initial;
    overflow: auto;
  }
  .post-pro {
    padding: 0 0 50px;
  }
}
