@media (max-width: 992px) {
  .top-space {
    padding: 70px 0 0;
  }
  .section-format {
    padding: 20px;
  }
  .logo {
    width: 210px;

}
}

@media (max-width: 768px) {
  header.public {
    padding: 12.5px 0;
}
  header.private {
    padding: 9px 0;
  }
  .logo {
    width: 210px;
    margin: 0 auto 20px;
}
  .box-title h2 {
    font-size: 20px;
    text-align: center;
  }
  .top-space {
    padding: 60px 0 60px;
  }

  .info-box {
    margin: 40px 0 20px;
  }
  .info-box-inner {
    display: initial;
    justify-content: initial;
  }
  .info-table h3 {
    font-size: 28px;
  }
  .avatar-big {
    margin: 0 auto 20px;
  }
  .info-table {
    width: 100%;
    text-align: center;
  }
  .info-table p {
    max-width: 100%;
  }
  .btn-back {
    display: none;
  }
  .box-info .btn-back {
    display: block;
    position: relative;
    left: 0;
    background-size: 16px;
    width: 29px;
    background-position: left;
}
.post-view .post {
  padding-top: 40px;
}
.post-view .box-head {

  position: fixed;
background: #fff;
width: 100%;
top: 40px;
left: 0;
padding: 8px;
z-index: 1;
}
}
