@media (max-width: 550px) {
  .section-format {
    padding: 35px 20px;
    margin: 0 10px;
  }
  .box-format {
    margin: 0 0 10px;
  }
  .center-btn {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    width: auto;
    width: 120px;
    max-width: initial;
    margin: 0 0 0 10px;
  }
  .icon-comments {
    display: block;
  }
  .text-replies {
    display: none;
  }
  .icon-comments {
    background: url("../assets/comments.svg") no-repeat center 0;
    background-size: 25px;
    height: 25px;
  }
  .number-comments {
    top: 8px;
    max-width: 40px;
  }
  .number-comments strong {
    margin: 0 20px 0 0;
    padding: 0 0 0 32px;
    font-weight: normal;
  }
}
